@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: rgba(128, 128, 128, 0.3);
}
section{
    height: 1000px;
    width: 1250px;
    margin-bottom: 45px;
    overflow: hidden;
}

